.calva
.lsp

/**/*/target
/**/*/classes
/**/*/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/**/*/.lein-*
/**/*/.nrepl-port
/**/*/.prepl-port
.hgignore
.hg/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
